#clock-settings-with-show-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 500px;
  max-width: 100%;
}

#clock-settings-wrapper {
  max-height: 0;
  transition-property: max-height;
  /* change transition duration in components/ClockSettings.js */
  overflow-y: scroll;
  overflow-x: hidden;
}

#clock-settings-wrapper.visible {
  max-height: calc(100vh - 40px); /* 40px is height of show-settings-button */
}

#clock-settings-content {
  margin: 20px;
}

#show-settings-button {
  margin: auto;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background-color: #def;
  height: 40px;
}

.error-feedback {
  color: #dc3545;
}

#tutorial {
}



.clock-button {
  height: 100vh;
  font-size: 4vw;
}


.clock-button-initial-state {
  background-color: #bcb;
}

.clock-button-active {
  background-color: #ffb;
}

.clock-button-inactive {
  background-color: #ddb;
}

.clock-button-initial-state:hover {
  background-color: #cdc;
}

.clock-button-active:hover {
  background-color: #ffc;
}

.clock-button-inactive:hover {
  background-color: #ddb;
}

.clock-button-initial-state:active {
  background-color: #ffe !important;
}

.clock-button-active:active {
  background-color: #ffe !important;
}

.clock-button-inactive:active {
  background-color: #ddb !important;
}
