@font-face {
    font-family: "DejaVu Sans Mono";
    src: url("fonts/DejaVuSansMono.ttf");
}
@font-face {
    font-family: "DejaVu Sans Mono";
    src: url("fonts/DejaVuSansMono-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "DejaVu Sans Mono";
    src: url("fonts/DejaVuSansMono-Oblique.ttf");
    font-style: italic;
}
@font-face {
    font-family: "DejaVu Sans Mono";
    src: url("fonts/DejaVuSansMono-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "DejaVu Sans Mono";
    src: url("fonts/DejaVuSansMono-Oblique.ttf");
    font-style: oblique;
}
@font-face {
    font-family: "DejaVu Sans Mono";
    src: url("fonts/DejaVuSansMono-BoldOblique.ttf");
    font-weight: bold;
    font-style: oblique;
}

#clock-settings-with-show-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 500px;
  max-width: 100%;
}

#clock-settings-wrapper {
  max-height: 0;
  transition-property: max-height;
  /* change transition duration in components/ClockSettings.js */
  overflow-y: scroll;
  overflow-x: hidden;
}

#clock-settings-wrapper.visible {
  max-height: calc(100vh - 40px); /* 40px is height of show-settings-button */
}

#clock-settings-content {
  margin: 20px;
}

#show-settings-button {
  margin: auto;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background-color: #def;
  height: 40px;
}

.error-feedback {
  color: #dc3545;
}

#tutorial {
}


.clock-button {
  height: 100vh;
  font-size: 3vw;
  font-family: "DejaVu Sans Mono", monospace, monospace;
  font-weight: bold;
}

.clock-button.normal-mode {
  font-size: 4vw;
}

.clock-button.normal-mode .main-text {
  font-size: 4vw;
}

.clock-button.normal-mode .secondary-text {
  font-size: 4vw;
  background-color: #fff;
  margin-left: 1vw;
}

.clock-button.normal-mode .main-text + .secondary-text {
  font-size: 2.5vw;
}

.clock-button.tournament-mode {
}

.clock-button.tournament-mode .main-text {
  font-size: 7vw;
}

.clock-button.tournament-mode .secondary-text {
  margin-left: 1vw;
  font-size: 4vw;
  color: #777;
}

/* Clock button background colors */
.clock-button.initial-state {
  background-color: #bcb;
}

.clock-button.timeout {
  background-color: #fbb;
}

.clock-button.active {
  background-color: #ffb;
}

.clock-button.inactive {
  background-color: #ddb;
}

.clock-button.initial-state:hover {
  background-color: #cdc;
}

.clock-button.timeout:hover {
  background-color: #fbb;
}

.clock-button.active:hover {
  background-color: #ffc;
}

.clock-button.inactive:hover {
  background-color: #ddb;
}

.clock-button.initial-state:active {
  background-color: #ffe !important;
}

.clock-button.timeout:active {
  background-color: #fbb !important;
}

.clock-button.active:active {
  background-color: #ffe !important;
}

.clock-button.inactive:active {
  background-color: #ddb !important;
}
